@media only screen and (max-width:766px){
    .pricing-heading-sm{margin-top: 85px !important;} 
}

.grey-color{
    color: #a9a9a9;    
}
#pricing{
    margin-top: 90px !important;
}
.pricing-heading{
    margin-top: 80px ;
    color: #202020;
    font-weight: 600;
    margin: 0px;
    text-align: center;
}
.sub-heading{
    text-align: center;
    font-family: Poppins, Arial, sans-serif;
    color: #a0a0a0;
    font-size: 20px;
    line-height: 28px;
    margin: 15px 0px 0px;
    margin-bottom: 40px;
}
.pricing{
    padding-top: 30px;
}
.pricing-header-wrapper{
    border: 1px solid #e9e9e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-color: white;

}
.pricing-bubble{
    text-align: center;
    width: 140px;
    height: 140px;
    font-family: Poppins, Arial, sans-serif;
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
    background-color: #ea3535;
    padding-top: 27px;
    margin: 0px auto 25px;
    border-radius: 50%;
}
.pricing-item{
    margin-bottom: 40px;
    border-radius: 4px;

}
.pricing-item h4{
    padding-top: 30px;
    text-align: center;
}
.pricing-item h5{
    font-family: Roboto, Arial, sans-serif;
    color: #FFF;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    margin: 0px;
}
.pricing-item p {
    margin:5px 0 0 
}
.pricing-item ul{
    border-top-color: white !important;
    border: 1px solid #e9e9e9;
    padding: 0px 15px 15px;
    margin: 0px;
    text-align: center;
}
.pricing-item li{
    list-style-type: none;
    margin-bottom: 15px;
    color: #777;
}
.pricing-button-wrapper {
        background-color: #f4f4f4;
        padding: 30px ;
        border-top: 1px solid #e9e9e9;
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        border: 1px solid #e9e9e9;
        border-radius: 4px;  
    
}
.pricing-button{
    font-size: 14px;
    line-height: 42px;
    padding: 11.5px 18px;
    background-color: #ea3535;
    color: white;
    border-radius: 5px;
}
.pricing-button:hover{
    background-color: #ea3535;
    color: white;
}
.badge{
    width: 100%;
    background-color: #ea3535;
    font-family: Poppins, Arial, sans-serif;
    color: #FFF;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
    white-space: nowrap;
    padding: 15px 15px 12px;
    margin: -15px -1px 0px;
    border-radius: 4px 4px 0px 0px;
}
.lowest-pricing-button{
    margin-left: 30px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    background-color: #dd3333;
    background-image: -webkit-linear-gradient(left, #dd3333 0%, #ff2323 50%,#dd3333 100%);
    background-image: linear-gradient(to right, #dd3333 0%, #ff2323 50%,#dd3333 100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
}
.lowest-pricing-button:hover{
    color: white;
}
.low-button-wrapper{
    display: block;
    margin-bottom: 21.73913043px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 45px;
}