.heading{
    padding-top: 80px;
    text-align: center;
    color: #202020;
    font-weight: 600;
}
.featuresWrapper{
    
}
.featuresWrapper h2 strong{
    color: red;
}
.heading-desc{
    text-align: center;
    font-family: Poppins, Arial, sans-serif;
    color: #a0a0a0;
    font-size: 20px;
    line-height: 28px;
    margin: 15px 0px 40px 0px ;
}

.button{
    text-align: center;
}
.button-wrapper{
    text-align: center;
}
.featured-img{
    width: 360px;
    height: auto;
    margin-bottom: 20px;
}
.threeimages div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.threeimages h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0px;
}
.threeimages p{
    margin-top: 10px;
    text-align: center;
}
.post{
    padding-top: 50px;
}
.post-subheading{
    font-family: Poppins, Arial, sans-serif;
    color: #a9a9a9;
    font-size: 18px;
    margin: 7px 0px 0px;
}
.grey-color{
    color: #a9a9a9;    
}
.fourthimg{
    width: 555px;
    height: auto;
}
.separator{
    margin-top: 64px;
    margin-bottom: 64px;
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
@media only screen and (max-width:766px){
    .sports{
        height: 100vh !important;
        margin-bottom: 64px;
    }
    .sports .spin-card {
        margin: 5px;

    }
}
@media only screen and (min-width:767px){
    .sports{
        height: 100%;
    }
    .sports .spin-card{
        height: 200px;
        margin: 5px;
    }
}
@media only screen and (min-width:992px){
    .sports .spin-card{
        max-width: 23.5% !important;
        margin: 0px 5px;
        height: 300px;
    }
}
.sports{
    
    margin-bottom: 64px;
}

.sports .spin-card h4{
    padding-top: 25px;
}
.sports h4{
    text-align: center;
}
.button-wrapper{
    margin-top: 40px;
    margin-bottom: 80px;
}
.button-wrapper a{
    color: #ffffff;
    border: none;
    background-color: #dd3333;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 36px;
    border-radius: 5px;
}
.spin-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .spin-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    padding-top: 150px;
    color: black;
    transform: rotateY(180deg);
  }