.heading{
    padding-top: 80px;
    text-align: center;
    color: #202020;
    font-weight: 600;
}
.featuresWrapper h2 strong{
    color: red;
}
@-moz-document url-prefix() { 
  .flip-card .flip-card-back{
    min-height: 238px;
  }

  @media only screen and (max-width:766px){
    .sports{
        height: 100vh !important;
        margin-bottom: 64px;
    }
    .spin-card{
        margin-bottom: 50px;
    }
    .sports .spin-card-subheading{
        padding-bottom: 0px;
        padding-top: 0px;
        height: auto;
    }
    .sports .flip-card {
        margin-bottom: 60px;
        
    }
    .sports .flip-card-back{
        min-height: 120px;
    }
    .featuresWrapper .button-wrapper{
        margin-top: 405px;
    }
}
}
.heading-desc{
    text-align: center;
    font-family: Poppins, Arial, sans-serif;
    color: #a0a0a0;
    font-size: 20px;
    line-height: 28px;
    margin: 15px 0px 40px 0px ;
}

.button{
    text-align: center;
}
.button-wrapper{
    text-align: center;
}
.featured-img{
    width: 360px;
    height: auto;
    margin-bottom: 20px;
}
.threeimages div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.threeimages h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0px;
}
.threeimages p{
    margin-top: 10px;
    text-align: center;
}
.post{
    padding-top: 50px;
}
.post-subheading{
    font-family: Poppins, Arial, sans-serif;
    color: #a9a9a9;
    font-size: 18px;
    margin: 7px 0px 0px;
}
.grey-color{
    color: #a9a9a9;    
}
.fourthimg{
    width: 555px;
    height: auto;
}
.separator{
    margin-top: 64px;
    margin-bottom: 64px;
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
@media only screen and (max-width:766px){
    .sports{
        height: 100vh !important;
        margin-bottom: 64px;
    }
    .sports .spin-card-subheading{
        padding-bottom: 10px;
        padding-top: 0px;
        height: auto;
    }
    .sports .flip-card {
        margin-bottom: 60px;
        
    }
    .sports .spin-card:first-of-type{
        margin-bottom: 60px;
    }
    .sports .spin-card:nth-of-type(1n+2){
        margin-bottom: 100px;
    }
    .sports .flip-card-back{
        min-height: 120px;
    }
}
@media only screen and (min-width:767px){
    .sports{
        height: 100%;
    }
    .sports .spin-card{
        height: 200px;
        margin: 5px;
    }
}
@media only screen and (min-width:992px){
    .sports{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .sports .spin-card{
        max-width: 23.5% !important;
        margin: 0px 5px;
        height: 300px;
    }
      /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
.sports{
    
    margin-bottom: 64px;
}

.sports .spin-card h4{
    padding-top: 25px;
}
.sports h4{
    text-align: center;
}
.button-wrapper{
    margin-top: 40px;
    margin-bottom: 80px;
}
.button-wrapper a{
    color: #ffffff;
    border: none;
    background-color: #dd3333;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 36px;
    border-radius: 5px;
}
.spin-card {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .spin-card-subheading:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
/* The flip card container - */
.flip-card {
    background-color: transparent;
    -webkit-perspective: 1000px;
            perspective: 1000px; 
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  

  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  /* Style the front side*/
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    padding-top: 40px;
    min-height: 215px;
    color: black;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
  }
  .spin-card-heading{
    border-radius: 5px;
    padding: 25px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
  }
  .spin-card-subheading{
    border-radius: 5px;
    padding: 23px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #ffffff;
  }
  .spin-card-button{
    font-size: 14px;
    line-height: 42px;
    padding: 11.5px 18px;
    background-color: #ea3535;
    color: white;
    border-radius: 5px;
  }
  .spin-card-button:hover{
      color: white;
  }